@use "../../styles/variable.scss" as *;

 button{
    width: 10%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background: $button-color;
    color: $white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    &:hover {
      background: $secondary-color;
      color: $text-color;
      border : solid 2px $black;
    }

}