$background-color : #f5f7f5;
$primary-color : rgb(189, 171, 249);
$secondary-color : white;
$navbar-color : rgb(120, 248, 213);
$text-color : #333;
$white:#ffffff;
$black: black;
$button-color : rgb(64, 162, 172);